*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link:hover {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#nav-header {
    border-top: 5px solid !important;
    border-bottom: 1px solid #e9ecef !important;
}

#nav-container {
    height: 3.5rem;
}

#site-footer {
    border-top: 1px solid #e9ecef;
}

.border-dark {
    /* background-color: #343a40 !important; */
}

.border-right-0 {
    border-right: 0 !important;
}

.position-relative {
    position: relative !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-dark {
    color: #343a40 !important;
}

.text-right {
    text-align: right !important;
}

.m-0 {
    margin: 0 !important;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.d-none {
    display: none !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

table {
    border-collapse: collapse;
}

nav {
    display: block;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.container {
    max-width: 1140px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.text-secondary {
    color: #6c757d !important;
}

.text-justify {
    text-align: justify !important;
}

.align-middle {
    vertical-align: middle !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.d-md-block {
    display: block !important;
}
